name: Netflix Api


on: [push]

jobs:
  run-test:
    runs-on: ubuntu-latest
    env:
      DJANGO_SETTINGS_MODUL: Netflix.settings
      AGENT_TOOLSDIRECTORY: /opt/hostedtoolcache
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: 3.10
          architecture: 'x64'
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Run Tests
        run: pytest