name: Netflix Api


on: [push]

jobs:
  run-test:
    services:
      postgres:
        image: postgres:9.6
        env:
          POSTGRES_DB: netflixapi
          POSTGRES_USER: developer
          POSTGRES_PASSWORD: 3214151
        ports:
          - 5432:5432

    runs-on: ubuntu-latest
    env:
      DJANGO_SETTINGS_MODUL: Netflix.settings
      AGENT_TOOLSDIRECTORY: /opt/hostedtoolcache
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Run Tests
        run: pytest